.container {
  list-style: none;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;

  @media (min-width: 720px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.item  {
  margin-bottom: 1rem;

  * {
    max-width: 85%;
  }

  @media (min-width: 720px) {
    flex-basis: calc(100% / 3);
  }
}
