.header {
  height: 4.8rem;
  border-bottom: 0.1rem solid #000;
  font-size: 2rem;
  display: flex;
  padding: 1rem;
  background-color: #fff;
}

.title {
  flex: 1;
  text-align: center;
}

.list {
  list-style: none;
}
