.section {
  background-color: white;
  border-radius: 1rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.6rem;

  & + & {
    margin-top: 1.6rem;
  }
  
  > * + * {
    margin-top: 0.8rem;
  }
}
